html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  font-family: Jost;
  height: 100%;
  background: rgb(245, 245, 245);
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

a {
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

/* Hiding arrows on number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* disable tap highlight on mobile */
a, p, div, span, h1, h2, h3, h4, h5, h6, li, ul, ol, input, textarea, button {
  -webkit-tap-highlight-color: transparent;
}
